@import "variables.scss";


@mixin reset {
  padding: 0;
  margin: 0;
  outline: 0;
};

@mixin force-gpu{
  -webkit-transform: translateZ(0);  
  -moz-transform: translateZ(0);  
  -ms-transform: translateZ(0);  
  -o-transform: translateZ(0);  
  transform: translateZ(0); 
}

@mixin block-left{
  display: block;
  float: left;
}

@mixin block-left-bbox{
  @include block-left;
  box-sizing: border-box;
}

@mixin noselect{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.3);
}*/

/**{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}*/

body,html
{
  @include reset;
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;
}

div,span,p,input,textarea,ul,li,h1,h2,h3,pre{
  @include reset;
}

.noselect{
  @include noselect;
}


body{
  width: 1000px;
  margin: 0 auto;
}


#sqlFrom{
  @include block-left;
  width: 100%;
  margin-top: 16px;

  textarea{
    @include block-left-bbox;
    width: 100%;
    min-height: 150px;
    padding: 8px;
    margin-bottom: 8px;
    resize:vertical ;
  }

  input[type="submit"]{
    padding: 4px 16px;
  }

}

.output{
  @include block-left;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 32px;
  overflow: hidden;

  pre{
    font-size: 12px;
    line-height: 15px;
  }

}

h1{
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  font-size: 22px;
}
