$content-width: 100%;
$thumbnail-width-heigth: 150px;
$thumbnail-margin:  10px;


$bg1: #242220; // page background
$bg2: #302E2B; // albums,photos,labels containers
$bg3: #383735; // panels
$bg4: #44423E; //menu items, buttons background
$bg5: #807A71; //menu items, buttons background

$bg1h: lighten( $bg1, 3% ); // hover
$bg2h: lighten( $bg2, 3% ); //hover
$bg3h: lighten( $bg3, 3% ); //hover
$bg4h: lighten( $bg4, 3% ); //hover
$bg5h: lighten( $bg4, 3% ); //hover


$color1: #fff; // base color
$color2: #C2C2B1; // album info(under thumbnail)
$color3: #ceff3d; // day of week
$color4: $bg1;
$color5: #EDE7BD; //album title in album view
$color6: desaturate(darken( $color5, 10% ), 12%); // album desc in album view
$color2: #C2C2B1; // album info(under thumbnail)

$color1h: lighten( $color1, 20% ); //hover
$color2h: lighten( $color2, 20% ); //hover
$color4h: #FFF877; // hover


$accent1: #C2C2B1;
$accent2: #ff7400;
$accent3: lighten($accent2, 5%);


$colorLog1: #8EFF00;
$colorLog2: #FFE800;
$colorLog3: #00ECFF;
$colorLog4: #FF0000;







